:root{
    --color-dark: #444;
}
.wsf-overlay {
	position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 99999;
}
.wsf-overlay .notice {
	background: white;
	padding: 15px 35px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
}
.wsf-add-new-subscriber-form .label-text h2 {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	color: #636e72;
}
.wsf-add-new-subscriber-form .label-text span {
	font-size: 80%;
	display: inline-block;
	width: 100%;
	max-width: 320px;
	line-height: 15px;
	margin: 5px 0 15px;
    color: #636e72;
}
.wsf-add-new-subscriber-form .label-parent{
    display: flex;
    width: 100%;
    max-width: 320px;
    align-items: center;
}

.wsf-add-new-subscriber-form .label-parent * {
    display: inline-flex;
    box-sizing: border-box;
    height: 35px;
    border: 1px solid #dee2e6;
    border-radius: 2px;
    padding: 0 15px;
    box-shadow: none;
    outline: 0;
    align-items: center;
}
.wsf-add-new-subscriber-form .label-parent input[type="email"]{
    width: calc(100% - 90px);
}
.wsf-add-new-subscriber-form .label-parent button{
    background-color: #dfe6e9;
    width: 90px;
    cursor: pointer;
    justify-content: center;
}
.wsf-add-new-subscriber-form .label-parent button:focus,
.wsf-add-new-subscriber-form .label-parent button:hover{
    background-color: #636e72;
    color: white;
}
