:root{
    --wsf-color-primary: #a55eea;
    --wsf-color-secondary: #8854d0;
    --wsf-color-red: #FC427B;
}

.wsf-title {
	display: flex;
	align-items: center;
	padding: 0 50px;
	background: white;
}
.wsf-title a{
    display: inline-flex;
    margin-left: 15px;
    text-decoration: none;
    border: 1px solid var(--wsf-color-primary);
    padding: 5px 15px;
    color: var(--wsf-color-primary);
    box-shadow: none;
}
.wsf-title a:hover{
    background-color: var(--wsf-color-secondary);
    color: white;
}
.wsf-notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
	width: 100%;
	max-width: 550px;
	background: white;
	margin-top: 30px;
	padding: 7px 15px;
	border-left: 4px solid green;
	color: green;
    box-sizing: border-box;
    font-weight: 600;
}
.wsf-notice.wsf-error {
	color: var(--wsf-color-red);
	border-left-color: var(--wsf-color-red);
}
.wsf-notice .wsf-notice-dismiss {
	display: inline-flex;
	box-sizing: border-box;
	padding: 3px;
	cursor: pointer;
	color: black;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin-top: -5px;
	color: var(--wsf-color-red);
}
.wsf-add-new-subscriber-form{
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    max-width: 550px;
    margin-top: 30px;
    padding: 30px 50px;
    background-color: white;
}
.wsf-add-new-subscriber-form .label-parent{
    display: flex;
}
.wsf-add-new-subscriber-form .label-parent>*{
    padding: 5px 15px;
    border: 2px solid var(--wsf-color-primary) !important;
    box-shadow: none !important;
    outline: 0;
    outline: 0;
}

.wsf-add-new-subscriber-form .label-parent input {
    display: flex;
    width: 100%;
}
.wsf-add-new-subscriber-form .label-parent input:focus{
    border-color: var(--wsf-color-secondary);
}
.wsf-add-new-subscriber-form .label-parent button {
    min-width: 120px;
    margin-left: 25px;
    background-color: var(--wsf-color-primary);
    color: #fff;
    cursor: pointer;
}
.wsf-add-new-subscriber-form .label-parent button:hover{
    background-color: var(--wsf-color-secondary);
    
}
.wsf-ajax-loading {
    position: relative;
	display: inline-block;
    box-sizing: border-box;
	height: 25px;
	width: 25px;
	border: 2px solid white;
	border-radius: 50%;
	border-top-color: #FC427B;
	border-bottom-color: #FC427B;
    animation: wsf-ajax-loading 0.75s linear infinite;
}
.wsf-ajax-loading::after{
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    content: '';
    border: 2px solid white;
    border-top-color: var(--wsf-color-red);
    border-bottom-color: var(--wsf-color-red);
    border-radius: 50%;
    animation: wsf-ajax-loading 0.5s linear infinite reverse;
}
@keyframes wsf-ajax-loading{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}


/* subscribe list style */
.wsf-list-parent{
    position: relative;
}
.wsf-list-parent [class*="wsf-item-"]{
    display: inline-flex;
    text-decoration: none;
    padding: 3px 7px;
    background-color: #05c46b;
    border-radius: 4px;
    color: white;
    box-shadow: none;
}
.wsf-list-parent .wsf-item-delete{
    background-color: #FC427B;
}

/* edit form */
.wsf-list-parent .wsf-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
    animation: wsf-opacity 0.3s ease-in-out;
}
.wsf-list-parent .edit-form {
	position: sticky;
    display: flex;
	top: 150px;
	width: 350px;
	box-sizing: border-box;
	background: white;
	padding: 15px 20px;
    margin: 0 auto;
    border-radius: 4px;
	z-index: 99999;
    animation: wsf-siide-up 0.3s ease-in-out;
}
.wsf-list-parent .edit-form > * {
    border: 1px solid #8c8f94;
    box-shadow: none !important;
    outline: 0;
}
.wsf-list-parent .edit-form input[type="email"]{
    display: inline-block;
    text-transform: lowercase;
    width: calc(100% - 110px);
}
.wsf-list-parent .edit-form input[type="email"]:focus{
    border-color: var(--wsf-color-secondary);
}
.wsf-list-parent .edit-form button {
    display: inline-block;
    width: 95px;
	border-radius: 4px;
	background: var(--wsf-color-primary);
	color: white;
    cursor: pointer;
    margin-left: 15px;
    border-color: var(--wsf-color-primary);
}
.wsf-list-parent .edit-form button:hover{
    background-color: var(--wsf-color-secondary);
    border-color: var(--wsf-color-secondary);
}

@keyframes wsf-opacity{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
@keyframes wsf-siide-up{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }100%{
        opacity: 1;
        transform: translateY(0);
    }
}